@media only screen and (max-width: 968px) {
   .games {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
   .game {
      margin-bottom: 20px;
   }
}
@media only screen and (max-width: 810px) {
   .footer__column-wrap {
      justify-content: center;
   }
   .footer__column {
      margin-top: 20px;
   }
}
@media only screen and (max-width: 768px) {
   header > .container {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .navbar {
      order: 1;
   }
   .logo, .navbar, .nav-link {
      margin-bottom: 15px;
   }
   .handle {
      display: block;
      padding-bottom: 15px;
   }
   .nav-list {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
   }
   #handle:checked + .handle + .nav-list {
      max-height: 24em;
   }
   .nav-list li a {
      text-align: center;
      display: block;
      padding: 0 0 30px 0;
      border: 0;
   }
   .poker-link::after, .bahis-link::after {
      left: 50px;
   }
   .banner__form {
   	margin: 0 auto;
   }
   .banner__subform {
      margin: 0 auto 60px auto;
      padding-bottom: 160px;
   }
   .banner__description {
      font-size: 24px;
      text-align: center;
      left: 0;
      top: 150%;
      width: 100%;
      padding: 0 8px;
   }
}
@media only screen and (max-width: 445px) {
   .footer__column-wrap {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      align-items: center;
   }
   .footer__column {
      margin-right: 0;
   }
}
